# Folders
doxygen/doc/
examples/Arduino/LCD_RemoteUno/
examples/STM32/MiniRemote/
SBGC32_ArduinoDebug/
SBGC32_LinuxDebug/
SBGC32_STM32_Debug/
SBGC32_STM32_NoCubeMX/

*.launch
*.bak


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
